<div class="row mt-5">
    <div class="col-3" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChnaged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&lsaquo;"
                lastText="&raquo;"></pagination>
</div>
