<div class="container mt-5">
  <div class="text-center" *ngIf="!registerMode">
    <h2 class="mb-4">دوست خود را پیدا کنید</h2>
    <p class="text-black-50">با استفاده از این صفحه میتوانید دوست خود را پیدا کنید ...</p>
  </div>
  <div class="text-center" *ngIf="!registerMode">
    <a class="btn btn-info" (click)="toggleRegisterMode()">ثبت نام</a>
  </div>
  <div class="container"  *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="canselRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
