<div class="card">
    <div class="card-body">
        <form (ngSubmit)="register()" [formGroup]="registerForm">
            <h2 class="text-center text-primary">ثبت نام</h2>
            <hr>
            <div class="form-group mb-2">
                <input type="text" class="form-control"  formControlName="email" placeholder="ایمیل" />
            </div>
            <div class="form-group mb-2">
                <input type="password" class="form-control"  formControlName="password" placeholder="کلمه عبور" />
            </div>
            <div class="form-group mb-2">
                <input type="password" class="form-control"  formControlName="confirmPassword" placeholder="تکرار کلمه عبور" />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success mr-2" type="submit">ثبت نام</button>
                <button class="btn btn-default ml-10px" type="button" (click)="cansel()">لغو</button>
            </div>
        </form>
    </div>
</div>

<p>form values : {{registerForm.value|json}}</p>
<p>form status : {{registerForm.status|json}}</p>